@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WebHoly.ViewModels.FirstScreenViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string Todayday = DateTime.Now.Date.DayOfWeek.ToString() == "Sunday" ? "ראשון" :
        DateTime.Now.Date.DayOfWeek.ToString() == "Monday" ? "שני" :
        DateTime.Now.Date.DayOfWeek.ToString() == "Tuesday" ? "שלישי" :
        DateTime.Now.Date.DayOfWeek.ToString() == "Wednesday" ? "רביעי" :
        DateTime.Now.Date.DayOfWeek.ToString() == "Thursday" ? "חמישי" :
        DateTime.Now.Date.DayOfWeek.ToString() == "Friday" ? "שישי" :
        DateTime.Now.Date.DayOfWeek.ToString() == "Saturday" ? "שבת" : "";

}

<div class=" box">
    <div class="card">
        <div class="leftbox">
            <div class="row">
                <div class="col-md-1 "></div>
                <div class="col-md-4"><strong> @DateTime.Now.Date.ToString("dd-MM-yy")</strong></div>
                <div class="col-md-3 "><strong>@Model.HebrewDate.hebrew</strong></div>
                <div class="col-md-2 ">
                    <strong> @Todayday</strong>
                </div>
                <div class="col-md-2 "><strong>@Model.SinagugName</strong></div>
            </div>
            @if (Model.PrayerTimes != null)
            {

                <div class="row">
                    <div class="col-md-5 "></div>
                    <span>
                        @Model.PrayerTimes.ShacharitPrayer.ToString(@"hh\:mm")
                    </span>
                    <strong> תפילת שחרית  </strong>
                </div>
                <div class="row">
                    <div class="col-md-5 "></div>
                    <span>
                        @Model.PrayerTimes.InauguralPrayer.ToString(@"hh\:mm")
                    </span>
                    <strong> תפילת מנחה   </strong>
                </div>
                <div class="row">
                    <div class="col-md-5 "></div>
                    <span>
                        @Model.PrayerTimes.MaarivPrayer.ToString(@"hh\:mm")
                    </span>
                    <strong> תפילת עברית  </strong>
                </div>
            }

        </div>
    </div>
</div>


<style>
    .box {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .leftbox {
        background-image: url('/img/tample2.jpeg');
        background-repeat: no-repeat;
        background-position: center;
        margin: 10px;
        filter: brightness(130%);
        background-size: 1300px 350px;
    }

    strong {
        color: darkblue;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin:15px 15px;
    }

    span {
        color: #135ca5;
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 15px 15px;
    }
</style>




